:root {
    --dinkRed: #f16958;
    --dinkRed_25: #f16a5840;
    --dinkRed_50: #f16a5880;
    --hoverRed: #c74332;
    --softGrey: #a0a3af;
}

body {
    background-color: #f1f1f1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 80px 25px 100px 25px;
}


/* ----- LOGIN -----*/
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.logo--login{
    margin-top: 100px;
    margin-bottom: 60px;
    width: 225px;
}
.form__input * {
    display: block;
    width: 275px;
}
.form__input label{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.form__input input, .form__input textarea{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    display: block;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    margin-bottom: 15px;
    text-indent: 15px;
}
.form__input input:focus, .form__input textarea:focus{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    text-indent: 15px;
}
.form__image{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.form__hideShow{
    position: relative;
    width: 45px;
    top: -46px;
    left: 220px;
    padding: 3px;
    background-color: var(--dinkRed);
    color: white;
    border-radius: 5px;
}

.btn--login {
    background-color: var(--dinkRed);
    height: 40px;
    width: 86px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;  
    margin-top: 50px;  
}
.login-register {
    margin-top: 15px;
    font-size: 14px;
    width: 275px;
    display: flex;
    justify-content: space-between;
}
.login-register span{
    color: var(--dinkRed);
}

/* ----- END OF LOGIN -----*/

/* ---- HEADER ----- */
.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 20px;
    filter: drop-shadow(0px -4px 8px rgb(0,0,0,0.25));
}

.search {
    height: 20px;
    justify-content: space-between;
    /* margin: 5px 0px; */
}

.header__user, .search {
    display: flex;
    align-items: center;
}

.header__profilePicture {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 15px;
    margin-left: 45px;
}
/* ----- END OF HEADER ----- */




/* ----- POST ----- */
.posts {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post {
   width: 325px;
   background-color: white;
   border-radius: 10px;
   margin-bottom: 30px;
   padding: 15px;
}

.post__head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.post__userName {
    margin-left: 15px;
    font-weight: bold;
}

.post__text {
    margin-bottom: 15px;
    line-height: 20px;
}

.post__userImage {
    width: 28px;
    height: 28px;
    border-radius: 50px;
}

.post__image, .post__addImage {
    width: 295px;
    border-radius: 5px;
}

.post__foot {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.post__foot__likes, .post__foot__comments {
    display: flex;
    align-items: center;
}

.post__foot__likes {
    margin-right: 20px;
}

.post__foot__likes a, .post__foot__comments a {
    margin-right: 5px;
}

.file {
    padding-bottom: 20px;
}

/* ----- END OF POST ----- */


/* ----- NEW POSTS ------*/
.post__addImage {
    background-color: var(--dinkRed_25);
    height: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in-out;
}

.post__addImage:hover {
    background-color: var(--dinkRed_50);
}

/* ----- END OF NEW POSTS -----*/


/* ----- POST COMMENTS -----*/
.comments__container {
    margin-top: 10px;
    border-top: 1px rgb(160, 163, 175) solid;
}

.post__comments__list li{
    border-left: 1px solid var(--softGrey);
    padding-left: 15px;
    margin-bottom: 30px;
}
.post__comments__list div{
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 5px;
}
.post__comments__list img{
    border-radius: 100%;
    height: 20px;
    width: 20px;
    object-fit: cover;
    margin-right: 10px;
}

/* ----- END OF POST COMMENTS -----*/


/* ----- NAVBAR ----- */
.navbar {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    filter: drop-shadow(0px 4px 8px rgb(0,0,0,0.25));
}

.navbar__btn {
    font-size: 12px;
    border-radius: 5px;
    padding-left: 45px;
    padding-right: 1em;
    display: flex;
    align-items: center;
    background-color: var(--dinkRed);
    height: 40px;
    width: 86px;
    color: white;
    transition: 0.1s ease-in-out;
}
.navbar__btn:hover {
    background-color: var(--hoverRed);
    transform: scale(1.05);
}

.navbar__btn:nth-of-type(1), .navbar__btn:nth-of-type(2), .navbar__btn:nth-of-type(3) {
    background-image: url(../assets/icon_home.svg);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 10px;
}
.navbar__btn:nth-of-type(2){
    background-image: url(../assets/icon_add.svg);
}
 .navbar__btn:nth-of-type(3) {
    background-image: url(../assets/icon_user.svg);
}
/* ----- END OF NAVBAR ----- */

/* ----- PROFILE PAGE ----- */

.user__profile {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user__content {
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px 50px 15px;
}

.user__head {
    display: flex;
    align-items: center;
}

.user__information{
    padding: 10px 45px 20px 45px;
    border-bottom: solid rgba(0, 0, 0, 0.164) 1px;
}

.post__collection {
    display: grid;
    grid-template-columns: 230px 230px;
    padding: 10px;
}

.profile__image{
    padding: 10px;
    border-radius: 5px;
    width: 225px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.082);
}

.user__userName {
    margin-left: 15px;
    font-weight: bold;
}

.user__lastName {
    margin-left: 5px;
    font-weight: bold;
}

.user__bio{
    margin-bottom: 5px;
}

.user__website{
    color: rebeccapurple;
}

.user__self {
    text-align: center;
    margin-top: 15px;
}

.user__btn {
    background-color: var(--dinkRed);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    
}

@media (max-width: 600px){
    .post__collection {
        display: grid;
        grid-template-columns: 230px;
        padding: 10px;
    }
}

/* ----- END OF PROFILE PAGE ----- */

/* ----- TAG PAGE ----- */

.tags__head{
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
}

/* ----- END OF TAG PAGE ----- */



/* ----- HOVERBUBBLE -----*/
.hoverBubble {
    display: none;
}

/* ----- END OF HOVERBUBBLE -----*/

/* ----- FIX AUTO-ADJUSTING TEXTAREA ----- */

/*!!Disclaimer,  textarea fix is not my own code. source: https://css-tricks.com/the-cleanest-trick-for-autogrowing-textarea*