:root {
    --dinkRed: #f16958;
    --dinkRed_25: #f16a5840;
    --dinkRed_50: #f16a5880;
    --dinkRed_75: #f16a58bf;
    --hoverRed: #c74332;
    --softGrey_25: #a0a3af40;
    --softGrey_50: #a0a3af80;
    --softGrey: #a0a3af;
    --hardGrey: #8b8c91;
    --dinkGreen_25: #02b79940;
    --dinkGreen_50: #02b79980;
    --dinkGreen_75: #02b799bf;
    --dinkGreen: #02b799;
}

body {
    background-color: #f1f1f1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 80px 25px 100px 25px;
}


/* ----- LOGIN -----*/
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.logo--login {
    margin-top: 100px;
    margin-bottom: 60px;
    width: 225px;
}
.form__input * {
    display: block;
    width: 275px;
}
.form__input label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}
.form__input input, .form__input textarea, .form__input select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    text-indent: 15px;
}
.form__input input, .form__input select {
    height: 40px;
    width: 100%;
}

.form__input input:focus, .form__input textarea:focus {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    text-indent: 15px;
}
.form__image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.form__hideShow {
    position: relative;
    width: 45px;
    top: -46px;
    left: 220px;
    padding: 3px;
    background-color: var(--dinkRed);
    color: white;
    border-radius: 5px;
}

.btn--login {
    background-color: var(--dinkRed);
    height: 40px;
    width: 86px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100%;  
    margin-top: 50px;  
}
.login-register {
    margin-top: 15px;
    font-size: 14px;
    width: 275px;
    display: flex;
    justify-content: space-between;
}
.login-register span {
    color: var(--dinkRed);
}

/* ----- END OF LOGIN -----*/

/* ---- HEADER ----- */
.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 20px;
    filter: drop-shadow(0px -4px 8px rgb(0,0,0,0.25));
    z-index: 10;
}

.search {
    height: 20px;
    justify-content: space-between;
    /* margin: 5px 0px; */
}

.header__user, .search {
    display: flex;
    align-items: center;
}

.header__profilePicture {
    border-radius: 100%;
    height: 30px;
    width: 30px;
    object-fit: cover;
    margin-right: 15px;
    margin-left: 45px;
}
/* ----- END OF HEADER ----- */




/* ----- POST ----- */
.posts {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.post {
   width: 325px;
   background-color: white;
   border-radius: 10px;
   margin-bottom: 30px;
   padding: 15px;
}

.post__head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.post__userName {
    margin-left: 15px;
    font-weight: bold;
}

.post__text {
    margin-bottom: 15px;
    line-height: 20px;
}

.post__userImage {
    width: 28px;
    height: 28px;
    border-radius: 50px;
}

.post__image {
    width: 295px;
    border-radius: 5px;
}

.post__content__info {
    display: flex;
    justify-content: space-between;
}

.post__tag{
    color: var(--dinkRed);
    padding: 4px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
}

.post__location {
    padding: 4px;
    margin-top: 5px;
}

.post__foot {
    margin-top: 20px;
    /* display: flex;
    align-items: flex-start; */
    display: grid;
    grid-template-columns: 5%, 5%, 5%, 5%, 80%;
}

.post__foot__likes, .post__foot__comments, .post__foot_timeElapsed {
    display: flex;
    align-items: center;
}

.post__foot__likes {
    grid-column: 1/2;
}
.post__foot__comments {
    grid-column: 2/3;
}
.post__foot__timeElapsed {
    grid-column: 3/6;
    text-align: right;
    font-weight: 500;
}

.post__foot__likes a, .post__foot__comments a {
    margin-right: 5px;
}


/* ----- END OF POST ----- */


/* ----- NEW POSTS ------*/

.post__addImage {
    margin: 30px 0;
}
.post__prevImage {
    border-radius: 10px;
    background-color: var(--dinkRed_25);
    height: 185px;
    width: 295px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    transition: 0.1s ease-in-out;
    
}
.prevContainer {
    border-radius: 10px;
    width: 295px;
    overflow: hidden;
}

._1977 img, .aden img, .brannan img, .brooklyn img, .clarendon img, .earlybird img, .gingham img, .hudson img, .inkwell img, .kelvin img, .lark img, .lofi img, .mayfair img, .moon img, .nashville img, .perpetua img, .reyes img, .rise img, .slumber img, .toaster img, .valencia img, .walden img, .willow img, .xpro2 img {
    width: 295px;
}
._1977, .aden, .brannan, .brooklyn, .clarendon, .earlybird, .gingham, .hudson, .inkwell, .kelvin, .lark, .lofi, .mayfair, .moon, .nashville, .perpetua, .reyes, .rise, .slumber, .toaster, .valencia, .walden, .willow, .xpro2 {
    width: 295px;
    border-radius: 5px;
    overflow: hidden;
}

/* 
.post__addImage:hover {
    background-color: var(--dinkRed_50);
} */

/* ----- END OF NEW POSTS -----*/


/* ----- POST COMMENTS -----*/
.comments__container {
    margin-top: 10px;
    border-top: 1px rgb(160, 163, 175) solid;
}

.post__comments__list li {
    border-left: 1px solid var(--softGrey);
    padding-left: 15px;
    margin-bottom: 20px;
}
.post__comments__list div {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-bottom: 5px;
}
.post__comments__list img {
    border-radius: 100%;
    height: 20px;
    width: 20px;
    object-fit: cover;
    margin-right: 10px;
}

.load__btn{
    font-weight: bold;
    color: var(--dinkRed);
}

/* ----- END OF POST COMMENTS -----*/


/* ----- NAVBAR ----- */
.navbar {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    filter: drop-shadow(0px 4px 8px rgb(0,0,0,0.25));
}

.navbar__btn {
    font-size: 12px;
    border-radius: 5px;
    padding-left: 45px;
    padding-right: 1em;
    display: flex;
    align-items: center;
    background-color: var(--dinkRed);
    height: 40px;
    width: 86px;
    color: white;
    transition: 0.1s ease-in-out;
}
.navbar__btn:hover {
    background-color: var(--hoverRed);
    transform: scale(1.05);
}

.navbar__btn:nth-of-type(1), .navbar__btn:nth-of-type(2), .navbar__btn:nth-of-type(3) {
    background-image: url(../assets/icon_home.svg);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 10px;
}
.navbar__btn:nth-of-type(2) {
    background-image: url(../assets/icon_add.svg);
}
 .navbar__btn:nth-of-type(3) {
    background-image: url(../assets/icon_user.svg);
}
/* ----- END OF NAVBAR ----- */

/* ----- PROFILE PAGE ----- */

.user__profile {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user__content {
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px 30px 15px;
}

.user__head {
    display: flex;
    align-items: center;
}

.user__information {
    padding: 10px 45px 20px 45px;
    border-bottom: solid rgba(0, 0, 0, 0.164) 1px;
}

.post__collection {
    display: grid;
    grid-template-columns: 230px 230px;
    padding: 10px;
}

.profile__image {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 225px;
    height: 180px;
    object-fit: cover;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.082);
}

.user__userName {
    margin-left: 15px;
    font-weight: bold;
}

.user__lastName {
    margin-left: 5px;
    font-weight: bold;
}

.user__bio {
    margin-bottom: 5px;
}

.user__website {
    color: rebeccapurple;
}

.user__self {
    text-align: center;
    margin-top: 15px;
}

.user__btn {
    background-color: var(--dinkRed);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    
}

@media (max-width: 600px) {
    .post__collection {
        display: grid;
        grid-template-columns: 230px;
        padding: 10px;
    }
}

/* ----- END OF PROFILE PAGE ----- */

/* ----- TAG PAGE ----- */

.tags__head {
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
}

/* ----- END OF TAG PAGE ----- */

/* ----- COMMENTS DETAIL PAGE ----- */

@media (min-width: 750px){
    .comments__post{
        padding-top: 10px;
    }
    
    .detail__post{
        width: 750px;
        height: 525px;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 0px;
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .detail__head{
        grid-area: 1 / 2 / 2 / 3;
        width: 280px;
        height: 50px;
    }

    .detail__image{
        grid-area: 1 / 1 / 5 / 2;
        width: 450px;
        align-self: center;
        padding-right: 20px;
    }


    .detail__text{
        grid-area: 2 / 2 / 3 / 3;
        height: 75px;
        overflow: auto;
    }

    .detail__foot{
        grid-area: 4 / 2 / 5 / 3;
        height: 50px;
    }

    .detail__comments__form{
        grid-area: 3 / 2 / 4 / 3;
        overflow: auto;
        height: 300px;
    }


}

/* ----- END OF COMMENTS DETAIL PAGE ----- */


/* ----- HOVERBUBBLE -----*/
.likesContainer {
    position: relative;
}
.hoverBubble {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 10px 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 10;

    top: -5px;
    right: 120%
}
.hoverBubble li {
    color: white;
}

.post__foot__likes:hover ~ .hoverBubble {
    visibility: visible;
}

.hoverBubble::after {
    content: " ";
    position: absolute;
    top: 15px;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.63);
}

.hide {
    display: none;
}

.feedback {
    margin-top: 40px;
    padding: 8px 8px 8px 20px;
    color: white;
    border-radius: 5px;
}
.fail {
    background-color: var(--dinkRed_50);
}
.success {
    background-color: var(--dinkGreen_50);
}
/* .iconLike:hover .hoverBubble {
    visibility: visible; */
/* } */

/* ----- END OF HOVERBUBBLE -----*/

/* ----- FIX AUTO-ADJUSTING TEXTAREA ----- */

/*!!Disclaimer,  textarea fix is not my own code. source: https://css-tricks.com/the-cleanest-trick-for-autogrowing-textarea*