@media (min-width: 750px){
    .comments__post{
        padding-top: 10px;
    }
    
    .detail__post{
        width: 750px;
        height: 525px;
        background-color: white;
        border-radius: 10px;
        margin-bottom: 0px;
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .detail__head{
        grid-area: 1 / 2 / 2 / 3;
        width: 280px;
        height: 50px;
    }

    .detail__image{
        grid-area: 1 / 1 / 5 / 2;
        width: 450px;
        align-self: center;
        padding-right: 20px;
    }


    .detail__text{
        grid-area: 2 / 2 / 3 / 3;
        height: 75px;
        overflow: auto;
    }

    .detail__foot{
        grid-area: 4 / 2 / 5 / 3;
        height: 50px;
    }

    .detail__comments__form{
        grid-area: 3 / 2 / 4 / 3;
        overflow: auto;
        height: 300px;
    }


}