/* ----- PROFILE PAGE ----- */

.user__profile {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user__content {
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px 50px 15px;
}

.user__head {
    display: flex;
    align-items: center;
}

.user__information{
    padding: 10px 45px 20px 45px;
    border-bottom: solid rgba(0, 0, 0, 0.164) 1px;
}

.post__collection {
    display: grid;
    grid-template-columns: 230px 230px;
    padding: 10px;
}

.profile__image{
    padding: 10px;
    border-radius: 5px;
    width: 225px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.082);
}

.user__userName {
    margin-left: 15px;
    font-weight: bold;
}

.user__lastName {
    margin-left: 5px;
    font-weight: bold;
}

.user__bio{
    margin-bottom: 5px;
}

.user__website{
    color: rebeccapurple;
}

@media (max-width: 600px){
    .post__collection {
        display: grid;
        grid-template-columns: 230px;
        padding: 10px;
    }
}

/* ----- END OF PROFILE PAGE ----- */

/* ----- TAG PAGE ----- */

.tags__head{
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
}

/* ----- END OF TAG PAGE ----- */